out/
build._build_buildmode_iso
build_date
base._check_if_initramfs_has_ucode
base._cleanup_pacstrap_dir
base._make_boot_on_fat
base._make_boot_on_iso9660
base._make_bootmode_bios.syslinux.eltorito
base._make_bootmode_bios.syslinux.mbr
base._make_bootmode_uefi-ia32.systemd-boot.eltorito
base._make_bootmode_uefi-ia32.systemd-boot.esp
base._make_bootmode_uefi-x64.systemd-boot.eltorito
base._make_bootmode_uefi-x64.systemd-boot.esp
base._make_common_bootmode_systemd-boot
base._make_common_bootmode_systemd-boot_conf
base._make_common_bootmode_systemd-boot_conf.esp
base._make_common_bootmode_systemd-boot_conf.isofs
base._make_common_grubenv_and_loopbackcfg
base._make_custom_airootfs
base._make_customize_airootfs
base._make_packages
base._make_pacman_conf
base._make_pkglist
base._make_version
base._make_work_dir
base._mkairootfs_squashfs
base._prepare_airootfs_image
efiboot.img
iso._build_iso_image
iso.pacman.conf
iso/
loader/
x86_64/
